:root {
    --text-color : white;
}

/**/


.text-center{
    text-align: center;
}

body{
    margin:0 auto;

}
a{
    text-decoration: none;
    color: black
}
.navbar{
    border-bottom : 1px solid black;
    margin-bottom : 10px; 
    display : flex;
    justify-content: space-between; 
    align-items: center;
    /*background-color :coral;*/
    padding: 8px 12px;
}

.navbar_name{ 
    font-size: 24px;
}

.navbar_menu{
    display:flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li { 
    padding: 8px 12px;
}

.navbar_menu li:hover { 
    border-radius: 5px;
    transform: scale(1.3);
    transition: transform .4s;
}
.navbar_toggle{
    display : none;
    position: absolute;
    right: 32px;
    font-size:24px;
}

#page_interest, #page_other { 
    display : none;
} 

.section {
    display : flex;
}
@media screen and (max-width:768px ) {
    .navbar{
        flex-direction: column;
        align-items : flex-start;
        padding : 8px 24px;
    }
    .navbar_menu{
        display:none;
        flex-direction: column;
        align-items: center;
        width:100%
    }
    .navbar_menu li {
        width: 100%;
        text-align: center; 
    }
    .navbar_toggle{
        display:block
    }

    .navbar_menu.active  {
        display : flex;
    }


    .pic {
        width : 100%;
        left: 50%; top: 50%;
        
    }
}
